

<p>
  <b>id:</b>
  <%=h @nota.id %>
</p>


<p>
  <b>lote_id:</b>
  <%=h @nota.lote_id %>
</p>

<p>
  <b>Título:</b>
  <%=h @nota.titulo %>
</p>

<p>
  <b>Criado em:</b>
  <%=h @nota.created_at %>
</p>

<p>
  <b>Nota:</b>
  <%= @nota.mensagem %>
</p>


<%= link_to 'Edit', edit_nota_path(@nota) %> |
<%= link_to 'Back', lotes_path + '/' + @nota.lote_id.to_s %>
