<%

venda = @lote.get_venda
if !venda.nil?
  dados = venda.get_extrato
end

%>

<h3> <%= "Lote #{@lote.to_label}"  %>   </h3>

<p>
  <%= link_to('Retornar', :controller => "lotes", :action => "index", :area_id => @lote.area.id) %>
</p>
<br/>
<hr/>

<table cellpadding="2" cellspacing="1" border="1">

  <%
  @boletos.sort{|a,b| b.attributes['id'] <=> a.attributes['id']}.each do |boleto|
  %>
    <tr>
      <td><%= boleto.seu_numero %> </td>
      <td><%= Codigo.get_status boleto.promissoria.cod_tipo_parcela %> </td>
      <td><%= boleto.nosso_numero %> </td>
      <td><%= boleto.data_vencimento.to_date %> </td>
      <td><%= boleto.promissoria.data_vencimento %> </td>
      <td><%= boleto.valor_titulo.to_currency (:locale => :en) %> </td>
    </tr>
  <%  end %>
</table>





