<h1>Novo Boleto</h1>

<%= error_messages_for :boleto %>

<br>

<hr/>
<p>
<%=h @s.seu_numero %> <br/>
<%=h @s.nosso_numero %> <br/>
<%=h @s.data_emissao %> <br/>
<%=h @s.data_vencimento %> <br/>
<%=h @s.valor_original %> <br/>
<%=h @s.valor_titulo %> <br/>
<%=h @s.valor_multa %> <br/>
<%=h @s.valor_juros %> <br/>
<%=h @s.mensagem1 %> <br/>
<%=h @s.mensagem2 %> <br/>
<%=h @s.mensagem3 %> <br/>
<%=h @s.mensagem4 %> <br/>
<%=h @s.mensagem5 %> <br/>
<%=h @s.mensagem6 %> <br/>
</p>


<hr/>