<h1>Boletos</h1>


<h2>SEU_NUMERO tem no SQL e não tem no COBCAIXA</h2>
<table border =" 1">
  <tr>
    <th>Ocorrência</th>
    <th>boleto ID</th>
    <th>Seu Numero - mySQL</th>
    <th>Seu Numero - SICOB</th>
    <th>Nosso Numero - mySQL</th>
    <th>Nosso Numero - SICOB</th>
  </tr>
  <% for a in @a %>
    <tr>
      <td align="center"><%=h a[0] %></td>
      <td align="center"><%=h a[1] %></td>
      <td align="center"><%=h a[2] %></td>
      <td align="center"><%=h a[3] %></td>
      <td align="center"><%=h a[4] %></td>
      <td align="center"><%=h a[5] %></td>
    </tr>
  <% end %>
</table>


<h2>NOSSO_NUMERO tem no SQL e não tem no COBCAIXA</h2>
<table border =" 1">
  <tr>
    <th>Ocorrência</th>
    <th>boleto ID</th>
    <th>Seu Numero - mySQL</th>
    <th>Seu Numero - SICOB</th>
    <th>Nosso Numero - mySQL</th>
    <th>Nosso Numero - SICOB</th>
  </tr>
  <% for a in @b %>
    <tr>
      <td align="center"><%=h a[0] %></td>
      <td align="center"><%=h a[1] %></td>
      <td align="center"><%=h a[2] %></td>
      <td align="center"><%=h a[3] %></td>
      <td align="center"><%=h a[4] %></td>
      <td align="center"><%=h a[5] %></td>
    </tr>
  <% end %>
</table>



<h2>SEU_NUMERO tem no COBCAIXA e não tem no SQL</h2>
<table border =" 1">
  <tr>
    <th>Ocorrência</th>
    <th>boleto ID</th>
    <th>Seu Numero - mySQL</th>
    <th>Seu Numero - SICOB</th>
    <th>Nosso Numero - mySQL</th>
    <th>Nosso Numero - SICOB</th>
  </tr>
  <% for a in @c %>
    <tr>
      <td align="center"><%=h a[0] %></td>
      <td align="center"><%=h a[1] %></td>
      <td align="center"><%=h a[2] %></td>
      <td align="center"><%=h a[3] %></td>
      <td align="center"><%=h a[4] %></td>
      <td align="center"><%=h a[5] %></td>
    </tr>
  <% end %>
</table>



<h2>NOSSO_NUMERO tem no COBCAIXA e não tem no SQL</h2>
<table border =" 1">
  <tr>
    <th>Ocorrência</th>
    <th>boleto ID</th>
    <th>Seu Numero - mySQL</th>
    <th>Seu Numero - SICOB</th>
    <th>Nosso Numero - mySQL</th>
    <th>Nosso Numero - SICOB</th>
  </tr>
  <% for a in @d %>
    <tr>
      <td align="center"><%=h a[0] %></td>
      <td align="center"><%=h a[1] %></td>
      <td align="center"><%=h a[2] %></td>
      <td align="center"><%=h a[3] %></td>
      <td align="center"><%=h a[4] %></td>
      <td align="center"><%=h a[5] %></td>
    </tr>
  <% end %>
</table>






<br />





