<h1>Novo grupo de promissórias</h1>

num_primeira_intervalo =
<%=h @grupo_promissorias[:inicio_intervalo] %>
<br/>num_ultima_intervalo =
<%=h @grupo_promissorias[:fim_intervalo] %>
<br/>qtd_intervalo =
<%=h @grupo_promissorias[:total_intervalo] %>
<br/>correc_poup =
<%=h @grupo_promissorias[:corrigida] %>
<br/>data_vencimento_prim =
<%=h @data_inicial %>
<br/>cod_tipo_parcela =
<%=h @grupo_promissorias[:cod_tipo_promissoria] %>
<br/>frequencia =
<%=h @grupo_promissorias[:periodo] %>
<br/>valor_original =
<%=h @grupo_promissorias[:valor] %>